
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "LogOn", FormMethod.Post))
{
    <input type="text" name="User" />
    <input type="password" name="pwd" />
    <button type="submit" class="btn btn-success">Login</button>
}